@import "../variables.scss";

.join-the-team {
  padding: 40px 24px;
  font-family: Inter;
  font-style: normal;
  border-radius: 16px;
  background-color: $sectionBgColor;
  background: url(".src/images/sun.png") top-right no-repeat;

  .join-the-team__header {
    margin-bottom: 15px;
    color: $blackTextColor;
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
  }

  .join-the-team__text {
    margin-bottom: 32px;
    color: $blackTextColor;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
  }

  .join-the-team__button {
    margin: 0 auto;
    padding: 15px 24px;
    border-radius: 40px;
    background-color: $brandColor;
    color: $whiteColor;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    cursor: pointer;
  }

  @media (min-width: 768px) {
    padding: 24px 30px;

    .join-the-team__header {
      margin-bottom: 16px;
      font-size: 24px;
      font-weight: 500;
      line-height: 120%;
    }

    .join-the-team__text {
      margin-bottom: 24px;
      font-size: 17px;
      line-height: 140%;
    }

    .join-the-team__button {
      margin: 0;
      border: 2px solid $brandColor;
      color: $blueTextColor;
      font-size: 17px;
      line-height: 130%;
    }
  }

  @media (min-width: 1440px) {
    padding: 32px 48px;

    .join-the-team__header {
      margin-bottom: 20px;
      font-size: 32px;
    }

    .join-the-team__text {
      margin-bottom: 32px;
      font-size: 24px;
    }
    .join-the-team__button {
      font-size: 24px;
    }
  }
}
